<style>
    @import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
    body {
      font-family: Nunito Sans;
    }
    nav {
      border-radius: 0 !important;
    }
    .menu {
      padding-top: 22px;
      box-sizing: border-box;
    }
    .menu-item {
      color: white;
      text-decoration: none !important;
    }
    .menu ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
      padding: 0;
    }
    .menu li {
      width: 140px;
      height: 50px;
      background-color: #39689C;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
    }
    .menu li:hover {
      background-color: #39689C;
      color: white;
    }
    .profile {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: gray;
      margin-top: 4px;
      margin-left: 100px;
      margin-right: 100px;
    }
    .profile-info {
      color: white;
      padding: 5px;
      line-height: 5.5px;
      margin-top: 10px;
    }
    .active-sidebar {
      background-color: #39689C;
    }
    .nav-search {
      margin-right: auto;
      margin-left: auto;
    }
    .navbar-brand {
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      font-size: 20px;
      color: #FFFFFF !important;
    }
    .navbar-header img {
      width: 24px;
      height: 24px;
    }
    #sidebar {
      /* margin: 0 !important; */
      width: 200px;
      height: 500px;
      text-align: center;
      border-right: 1px solid rgb(192, 190, 190);
      margin-top: 30px;
      padding: 0;
    }
    .navbar-toggle {
      display: block;
      float: left;
    }
    .navbar {
      height: 50px;
      background: #39689C;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    i.fa-window-close {
      font-size: 20px;
      color: #fff;
      margin: 20px;
      display: none;
    }
    .inner-holder {
        background: #39689C;
        color: #fff;
        padding: 13px 15px;
        border-radius: 3px;
    }
    .wallet-container {
      padding: 30px;
    }
    .btn-primary {
        color: #fff;
        background-color: transparent;
        border-color: white;
        font-size: 12.5px;
    }
    .wallet-row.row {
      margin-bottom: 30px;
    }
    h5.wallet-name {
      margin-bottom: 20px;
    }
    @media screen and (max-width:768px) {
      #sidebar {
        width: 250px !important;
        height: 200vh;
      padding: 0;
      position: absolute;
      left: -1000px;
      top: 20px;
      }
      .single-wallet-holder.col-md-3 {
          margin-bottom: 20px;
          padding: 0px;
      }
      i.fa-window-close {
        font-size: 20px;
        color: #fff;
        margin-bottom: 20px;
        display: block;
      }
      .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        display: none;
      }
      .navbar-nav {
        margin: 7.5px -15px;
        display: none;
      }
      .profile {
        display: none;
      }
      .navbar-form.navbar-right {
        display: none;
      }
    }
  </style>
