<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Finance Hotels </title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="header">
    	<ul>
        <li class="li bac"><a href="https://finance.hotels.ng/features" style="color:#fff">Features</a></li>
        <li class="li"><a href="#">FAQs</a></li>
         <li class="li"><a href="#">Dashboard</a></li>
         <li class="li"><a href="#">About</a></li>
         <li class="li" ><a href="#">Home</a></li>
         
         <li class="logo" style="color:#06C"><a href="#">.</a></li>
        </ul>
    </div><!--end--header-->
    
    <div id="wideArea">
    	<h1>Fund transfer Made Easy</h1>
        <p>This finance tool makes fund transfer easy anytime anywhere </p>
        
        <div class="button">
		<p><a href="https://finance.hotels.ng/features">Our Features</a></p>
        </div>
    </div><!--ends wideArea-->
    
    <div id="intro">
    	<h2>How it works</h2>
        <p>Our Custom Built Transfer Rules is built with the aim to connect your business to clients, employer to employees etc
        in a more efficient way and simplify your financial transactions.<br />
        Crisp and clear UX designs and workflow serves to foster customer intimacy and user loyalty</p>
    </div><!--ends intro--><br /><br />
    
    <div class="flex">
    	<div class="one">
        	<img class="imagedesc" src="images/multiple-shots.png" />
        	<blockquote>Multiple wallet support</blockquote>
            <p>Lorem Ipsum dolor sit conceteur adipsin elit. Vestibulum henderrit phareta purus vitae consectutor. Etiam turpus nils,
            comodor sit amet luctus eu</p>
            
        </div>
        
        <div class="one">
       		 <img class="imagedesc"  src="images/Group.png" />
        	<blockquote>Multiple wallet support</blockquote>
            <p>Lorem Ipsum dolor sit conceteur adipsin elit. Vestibulum henderrit phareta purus vitae consectutor. Etiam turpus nils,
            comodor sit amet luctus eu</p>
        </div>
        
        <div class="one">
         <img class="imagedesc"  src="images/smartphone-chat.png" />
        	<blockquote>Multiple wallet support</blockquote>
            <p>Lorem Ipsum dolor sit conceteur adipsin elit. Vestibulum henderrit phareta purus vitae consectutor. Etiam turpus nils,
            comodor sit amet luctus eu</p>
        </div>
    </div><!-- end flex-->
    <div class="clear"></div>
    <br /><br />
    
    
    <div class="flex">
    	<div class="one">
        	 <img class="imagedesc"  src="images/live-chat.png" />
        	<blockquote>Live Chat</blockquote>
            <p>Lorem Ipsum dolor sit conceteur adipsin elit. Vestibulum henderrit phareta purus vitae consectutor. Etiam turpus nils,
            comodor sit amet luctus eu</p>
            
        </div>
        
        <div class="one">
        	<img class="imagedesc" src="images/credit-card.png" />
        	<blockquote>Secured And Reliable payment method</blockquote>
            <p>Lorem Ipsum dolor sit conceteur adipsin elit. Vestibulum henderrit phareta purus vitae consectutor. Etiam turpus nils,
            comodor sit amet luctus eu</p>
        </div>
        
        <div class="one">
        <img class="imagedesc"  src="images/maze.png"/>
        	<blockquote>Easy Usage</blockquote>
            <p>Lorem Ipsum dolor sit conceteur adipsin elit. Vestibulum henderrit phareta purus vitae consectutor. Etiam turpus nils,
            comodor sit amet luctus eu</p>
        </div>
    </div><!-- end flex-->
     <div class="clear"></div>
     
     <div id="deepblue">
     	<div id="whitecork">
        </div>
        
        <div id="insideblue">
        		 <span class="leftspan">
                 	<h1>Already a user? </h1>
                    
                    <p>Sign into your account and start transferring funds</p>
                 </span>
                 
                  <div class="rightspan">
                  	<div class="newbutton">
				<p><a href="https://finance.hotels.ng/login">Sign in</a></p>
        			</div>
                 </div>
            </div>
     </div><!--ends deepblue-->
     <br /><br />
     
     
     <div id="footer">
     	<div class="one">
        	
        	<blockquote>Company</blockquote>
            <hr />
            <ul>
            <li>Blog</li>
            <li>About us</li>
            <li>Press Page</li>
            <li>Job Openings</li>
            <li>Trade and Advertising</li>
            <li>Terms and Conditions</li>
            <li>Privacy policy</li>
            </ul>
           
        </div>
        
        <div class="one">
        
        	<blockquote>Community</blockquote>
            <hr/>
            <ul>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Google</li>
            <li>Pinterest</li>
            <li>Youtube</li>
            <li>Traveller's Blog</li>
            <li>Tourist Attarctions</li>
            
            </ul>
            
            
        </div>
        
        <div class="one">
    
        	<blockquote>Flights</blockquote>
            <hr/>
            <ul>
            <li>Abuja to Lagos</li>
            <li>Fantastic Flight deals</li>
            <li>Cheap flights to Lagos</li>
            <li>Chatered flights</li>
            <li>Calabar To Lagos</li>
            <li>Flights to Lagos</li>
            <li>Best Prices</li>
            <li>Uyo To Lagos</li>
            </ul>
            
        </div>
    </div><!-- end flex-->
     <div class="clear"></div>
     	
     </div><!--ends footer-->
     
     <div id="lastfooter">
     	<div class="lastfl">
     		<p>Copyright &copy; 2017 Hotels.ng All Right Reserved.</p>
        </div>
        <div class="lastfl2">
     		<p>Certified by </p>
            <div class="letschat">
            	<p>Lets Chat</p>
            </div>
     </div>
     </div>
     
    
</body>
</html>
