/* =======beginning of css by Elisha ======= */
body{
    width:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    padding:0;
}
/* ======= full content div ======= */
.content{
    width:100%;
    padding:0;
    margin:0;;
}
/* =======head bar======= */
.header{
    background:#202A35;
    width:100%;
    margin:0 auto;
    padding:0;
    
}
/* =======hamburger image in header ======= */
.header img{
    position: absolute;
    margin:0px auto;
    left:70px;
    top:25px;
    display: block;
}
/* =======Phone Top Up text ======= */
.header h5{
    position: relative;
    margin:0px auto;
    margin-left:170px;
    top:20px;
    display: block;
    font-weight: lighter;
    color:white;
}
/* =======header search======= */
.header input{
    border-radius: 10px;
    width:300px;
    height: 40px;
    display: block;
	float:left;
    font-weight: lighter;
	margin-top:15px;
	margin-bottom:15px;

}
.inputbox{
	}
/* ========Second Container======= */
.content_two{
    position:relative;
    width:100%;
    height: auto;
}
 /* =======Balance Section======= */
.balance{
    position: relative;
    display: block;
    border-right: 1px solid grey;
}

.balance h5{
	margin-top:15px;
    font-size:100%;
    display: block;
    color:grey;
}
/* =======available wallet div ======= */
.box{
    text-align:center;   
}
 .box p{
    width:300px;
    line-height: 1.5em;
    font-size: 90%;
    padding:10px;
    color:black;
    font-weight:bolder;
    border-radius: 20px;
    border: 1px solid grey;
	margin-left:30%;
}
.box strong{
    line-height: 2em;
    color:#39689C;
}  

 /* ========Wallet Div Section======= */
.wallet{
    position: relative;
    z-index: 2;
    display: block;
}
.wallet h5{
    margin-top:15px;
    font-size:100%;
    display: block;
    color:grey;

}
.wallet p{
    position: relative;
    text-align:center;
    line-height: 1.5em;
    font-size: 90%;
    color:#39689C;
	margin-left:-10%;
	
}
/* =======Wallet Buttons ======= */
.button{
    position: relative;
    text-align: center;
    width:450px;
    margin: 0 auto;
   
}
.submit-amount{
    border-radius: 10px;
    width:100px;
    padding:5px;
    margin:10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    box-shadow: 0 2px  #424040;
    background: white;
}
/* =======orange background div ======= */

.thirdblock{
    width:100%;
    background:#39689C;
}
/* ======= Topup prepaid text======= */
.thirdblock h5{
   text-align:center;
    color:white;
    padding: 0;
    margin:0;
}
/* ========select numbers section ======= */
.details{
	margin:10px;
    height:auto;
    background:white;
}
.details h6{
    
    color:#39689C;
    
}
.details img{
   
}
.details p{
 
    color:#39689C;
}
/* =======history button div ======= */
.details .history{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70%;
    width:200px;
    height:40px;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 4px 4px 3px #424040;
    background:#39689C;
    color:white;
}
/* ======= Select amount box======= */
.selectamount{
    border-radius: 20px;
    border: 2px solid grey;
}
.selecttopup{
    border: 2px solid grey;
    border-radius:20px;
    margin-left:5px;
	margin-right:5px;
	margin-top:10px;
	text-align:center;
}

/* ======= Select amount box button======= */
.reach{
    padding:5px;
    margin: 0;
	text-align:center;
}
.reach button{
    
    background: white;
    border-radius: 9px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    height: 35px;
    width:65px;
    box-shadow: 0 2px  #424040;
}
.reach input{
    margin:8px;
    margin-top:15px;
    background: white;
    border-radius: 9px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    height: 35px;
    width:65px;
    box-shadow: 0 2px  #424040;
}
.numbers{
    position: absolute;
    width:100%;
    top:300px;
}
.numbers h6{
    color:black;
     left:10px;
}
.numbers hr{
    width:104.5%;
    margin:0;
   margin-left:-16px;
   padding:0;
}
.numbers ul{
    list-style: none;
    color:#3E3C3C;
}
.numbers li{
   margin:7px;
   padding:0;
}
/* ======= Top up data plan box======= */
.details2{
    z-index: 1;
    background:white;
	width:70%;
	margin-top:35px;
	padding:10px;
}
.details2 h6{
    text-align: center;
    color:#39689C;
}
.details2 ul{
    list-style: none;
    margin:0;
    padding:0;
    margin-top:15px;
    margin-bottom: 25px;
}
.details2 li{
    position:absoute;
    display:inline;
    padding:0;
    background-color: white;
    margin-left:15px;
}
.details2 li button{
    margin-left:7px;
    background-color: white;
    width: 55px;
}
.details2 li:hover{
    border-bottom: 3px solid #39689C;
}
/* ======= Top All button======= */
.topupbutton{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    width:400px;
    height:50px;
    border-radius: 10px;
    padding:5px 10px;
    margin:10px;
    font-weight: 700;
    box-shadow: 0 3px  #424040;
    color:#39689C;
	margin-left:8%;
}

.data button{
    border-radius: 10px;
    margin-left:30px;
    margin-top: 20px;
    height: 80px;
    width: 80px;
    font-weight:500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:70%;
    line-height: 1.2em;
    box-shadow: 0 2px  #424040;
    background: white;
}


.data strong{
    color:#39689C;
}
.details strong{
    color:black;
    font-size:80%;
}
.panel-heading{
	color:#fff !important;
	background-color:#39689C !important;
	text-align:center;
	}
.modal-table{
	font-size:14px !important;
	}
	.table-size{
		
		}
